.info-component {
  display: flex;
  justify-content: center;
  height: 200px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: lightgrey;
}

.info-content {
  margin-right: 380px;
  font-size: 16px;
  font-family: UberMoveText-Regular;
  line-height: 26px;
}

.info-links a {
  color: rgb(84, 84, 84);
  font-size: small;
}

.info-heading h2 {
  font-size: 26px;
  font-weight: bold;
  font-family: UberMoveText-Medium;
  line-height: 26px;
}
