* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: center;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
